*
  box-sizing: border-box

html, body
  margin: 0
  min-height: 100%

body
  min-height: 100%

footer.full-size

section.wrapper
  background-size: cover

  .section-content
    display: table

    margin: 0
    padding: 0 2%

    position: relative

    width: 100%
    max-width: none

    height: 100vh

    .container,
    .container-fluid
      display: table-cell
      vertical-align: middle

  .overlay
    position:absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

section.intro
  background: url(/assets/images/backgrounds/3.jpeg) no-repeat center bottom

  h1, h2
    color: transparentize(#fff, 0.2)
    font-family: $lato
    font-weight: $lato-thin

  h1
    font-size: 5em

  h2
    font-size: 3em
    font-weight: $lato-normal
    margin-bottom: 1em
    letter-spacing: 30px
    text-align: center

  button
    &:hover
      background-color: transparentize(#fff, 0.1)
      border: 1px solid transparent
      color: #444

    background: transparent
    border: 1px solid transparentize(#fff, 0.1)
    border-radius: 0
    color: transparentize(#fff, 0.1)
    font-family: $lato
    font-weight: $lato-light
    letter-spacing: 2px
    padding: 10px 30px
    transition: background 0.3s ease

section.about
  $about-color: #fff

  background: url(/assets/images/backgrounds/7.jpg) no-repeat center bottom
  color: transparentize($about-color, 0.2)

  h1, h2, h3
    color: transparentize($about-color, 0.2)
    font-family: $lato
    font-weight: $lato-thin

  h1
    font-size: 5em

  h3
    font-family: $lato
    font-weight: $lato-normal
    font-size: 2em

  p, ul > li
    font-family: $lato
    font-weight: $lato-light
    font-size: 15px

    &.leading
      font-weight: $lato-thin
      font-style: italic

  ul > li
    list-style-type: square

  .overlay
    background-color: transparentize(#000, 0.5)

section.pricing


section.schedule

