$nav-color: transparentize(#444, 0.2)
$nav-active-color: #444

$navbar-background-color: transparentize(#fff, 0.2)
$navbar-border-color: #eee

.navbar,
.navbar-nav,
.nav > li > a
  transition: all 0.3s ease-out

.navbar-brand
  &:hover,
  &:active,
  &.active
    color: transparentize($nav-active-color,0.0)

  > i.fa
    margin-right: 10px

  color: $nav-color

  font-family: $lato
  font-size: 2em
  font-weight: $lato-light

  padding: 11px 15px
  margin-top: -4px
  transition: all 0.3s ease
  vertical-align: middle

.navbar
  background: $navbar-background-color
  border-top: 1px solid $navbar-border-color
  min-height: 80px

.navbar-header,
.navbar-nav
  margin: 25px 0


.nav > li > a
  color: $nav-color

  font-family: $montserrat
  font-size: 16px
  font-weight: $montserrat-normal

  &:hover,
  &:active,
  &.active
    background: none
    color: $nav-active-color

  &:active,
  &.active
    background: none
    border-bottom: 1px solid $navbar-border-color










